apiVersion: apps/v1
kind: Deployment

metadata:
  name: {{ .Values.deployment.name }}

spec:

  replicas: {{ .Values.deployment.replicas }}

  selector:
    matchLabels:
      app: {{ .Values.app.name }}

  template:

    metadata:
      labels:
        app: {{ .Values.app.name }}

    spec:
      containers:

        - name: {{ .Values.app.name }}
          image: "{{ .Values.deployment.image }}"
          imagePullPolicy: Always
          ports:
            - name: main-port
              containerPort: {{ .Values.deployment.containerPort }}
            - name: jmx-port
              containerPort: {{ .Values.jmx_service.targetPort }}
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: mysql
            - name: MYSQL_DB_URL
              value: jdbc:mysql://{{ .Values.db.host }}:3306/dkop-dev-db
            - name: MYSQL_USER
              value: {{ .Values.db.user }}
            - name: MYSQL_PASSWORD
              value: {{ .Values.db.password }}