apiVersion: apps/v1
kind: Deployment

metadata:
  name: {{ .Values.deployment.name }}

spec:

  replicas: {{ .Values.deployment.replicas }}

  selector:
    matchLabels:
      app: {{ .Values.app.name }}

  template:

    metadata:
      labels:
        app: {{ .Values.app.name }}

    spec:
      containers:

        - name: {{ .Values.app.name }}
          image: "{{ .Values.deployment.image }}"
          imagePullPolicy: Always
          ports:
            - name: mainPort
              containerPort: {{ .Values.deployment.containerPort }}
            - name: jmxPort
              containerPort: {{ .Values.jmx_service.targetPort }}
