app:
  name: spring-petclinic

deployment:
  name: spring-petclinic-deployment
  image: ""
  replicas: 3
  containerPort: 8080

service:
  name: spring-petclinic-service
  type: LoadBalancer
  protocol: TCP
  port: 80
  targetPort: 8080
