app:
  name: spring-petclinic

deployment:
  name: spring-petclinic-deployment
  replicas: 3
  image: dejanakop/spring-petclinic-main:13d63d2
  containerPort: 8080

service:
  name: spring-petclinic-service
  type: LoadBalancer
  protocol: TCP
  port: 80
  targetPort: 8080
