app:
  name: spring-petclinic

deployment:
  name: spring-petclinic-deployment
  image: ""
  replicas: 3
  httpPort: 8080
  jmxPort: 9093
  requests:
    cpu: "500m"
    memory: "512Mi"
  limits:
    cpu: "1000m"
    memory: "1Gi"
  maxUnavailable: 20%
  maxSurge: 20%
  readinessProbe:
    initialDelaySeconds: 60
    periodSeconds: 30
    timeoutSeconds: 5
    failureThreshold: 3
    httpGet:
      path: /actuator/health/readiness
      port: 8080

service:
  name: spring-petclinic-service
  type: LoadBalancer
  protocol: TCP
  httpPort: 80
  httpTargetPort: 8080
  jmxPort: 9093
  jmxTargetPort: 9093

db:
  url: ""
  name: ""
  user: ""
  password: ""

hpa:
  name: spring-petclinic-hpa
  minReplicas: 1
  maxReplicas: 10
  averageUtilization: 60

serviceMonitor:
  name: spring-petclinic-service-monitor
  port: metrics
  interval: "30s"

# PROMETHEUS

grafana:
  adminPassword: ""
  service:
    type: LoadBalancer
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          access: proxy
          url: http://petclinic-prometheus-server
          isDefault: true
          version: 1
          editable: true
          jsonData:
            timeInterval: "5s"
  sidecar:
    dashboards:
      enabled: true
      searchNamespace: ALL
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'default'
          type: file
          options:
            path: /var/lib/grafana/dashboards

prometheus:

  configmapReload:
    prometheus:
      image:
        repository: "europe-west1-docker.pkg.dev/erudite-cyclist-476707-s9/prometheus/prometheus-config-reloader"
        tag: "v0.86.1"

  server:
    image:
      repository: "europe-west1-docker.pkg.dev/erudite-cyclist-476707-s9/prometheus/prometheus"
      tag: "v3.7.3"

  alertmanager:
    image:
      repository: "europe-west1-docker.pkg.dev/erudite-cyclist-476707-s9/prometheus/alertmanager"
      tag: "v0.29.0"
    configmapReload:
      prometheus:
        image:
          repository: "europe-west1-docker.pkg.dev/erudite-cyclist-476707-s9/prometheus/prometheus-config-reloader"
          tag: "v3.7.3"

  kube-state-metrics:
    image:
      registry: "europe-west1-docker.pkg.dev/erudite-cyclist-476707-s9"
      repository: "prometheus/kube-state-metrics"
      tag: "v2.17.0"

  prometheus-node-exporter:
    image:
      registry: "europe-west1-docker.pkg.dev/erudite-cyclist-476707-s9"
      repository: "prometheus/node-exporter"
      tag: "v1.10.2"

  prometheus-pushgateway:
    image:
      registry: "europe-west1-docker.pkg.dev/erudite-cyclist-476707-s9"
      repository: "prometheus/pushgateway"
      tag: "v1.11.2"