app:
  name: spring-petclinic

deployment:
  name: spring-petclinic-deployment
  image: ""
  replicas: 3
  containerPort: 8080

service:
  name: spring-petclinic-service
  type: LoadBalancer
  protocol: TCP
  port: 80
  targetPort: 8080

jmx_service:
  name: spring-petclinic-jmx-service
  type: NodePort
  protocol: TCP
  port: 9093
  targetPort: 9093
  nodePort: 30093
  path: "/metrics"
  mountPath: "/app/config.yaml"
  subPath: "config.yaml"