app:
  name: spring-petclinic

deployment:
  name: spring-petclinic-deployment
  image: ""
  replicas: 3
  httpPort: 8080
  jmxPort: 9093
  cpu: "100m"

service:
  name: spring-petclinic-service
  type: LoadBalancer
  protocol: TCP
  httpPort: 80
  httpTargetPort: 8080
  jmxPort: 9093
  jmxTargetPort: 9093

db:
  url: ""
  name: ""
  user: ""
  password: ""

hpa:
  name: spring-petclinic-hpa
  minReplicas: 1
  maxReplicas: 10
  averageUtilization: 60

serviceMonitor:
  name: spring-petclinic-service-monitor
  port: metrics
  interval: "30s"
