app:
  name: spring-petclinic

deployment:
  name: spring-petclinic-deployment
  image: ""
  replicas: 3
  containerPort: 8080
  cpu: "500m"

service:
  name: spring-petclinic-service
  type: LoadBalancer
  protocol: TCP
  port: 80
  targetPort: 8080

db:
  url: ""
  name: ""
  user: ""
  password: ""

hpa:
  name: spring-petclinic-hpa
  minReplicas: 1
  maxReplicas: 10
  averageUtilization: 60
