name: Main Branch Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  version:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Get Current Version
        id: current_version
        run: |
          current_tag=$( git describe --tags --abbrev=0 2> /dev/null || true )
          if [[ $? -ne 0 ]]; then
            current_tag="v0.0.0"
          fi
          echo "tag=${current_tag}" >> $GITHUB_OUTPUT

      - name: Checking
        run: echo ${{ steps.current_verison.outputs.tag }} 
